.pokemonCard {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 16px;
  transition: transform 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    margin: 0 auto;        
  }

  h3 {
    font-size: 1.25rem;
    color: var(--color-dark);
    margin-bottom: 12px;
  }

  .pokemonDetails {
    font-size: 0.9rem;
    color: #666;
    text-align: left;

    p {
      margin: 4px 0;
    }
  }

  .favoriteIcon {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.normal {
  border-top: 6px solid var(--color-normal);
}

.fire {
  border-top: 6px solid var(--color-fire);
}

.water {
  border-top: 6px solid var(--color-water);
}

.electric {
  border-top: 6px solid var(--color-electric);
}

.grass {
  border-top: 6px solid var(--color-grass);
}

.ice {
  border-top: 6px solid var(--color-ice);
}

.fighting {
  border-top: 6px solid var(--color-fighting);
}

.poison {
  border-top: 6px solid var(--color-poison);
}

.ground {
  border-top: 6px solid var(--color-ground);
}

.flying {
  border-top: 6px solid var(--color-flying);
}

.psychic {
  border-top: 6px solid var(--color-psychic);
}

.bug {
  border-top: 6px solid var(--color-bug);
}

.rock {
  border-top: 6px solid var(--color-rock);
}

.ghost {
  border-top: 6px solid var(--color-ghost);
}

.dragon {
  border-top: 6px solid var(--color-dragon);
}

.dark {
  border-top: 6px solid var(--color-dark);
}

.steel {
  border-top: 6px solid var(--color-steel);
}

.fairy {
  border-top: 6px solid var(--color-fairy);
}