.pokedex {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    margin-top: 4.375rem;

    > span {
      font-size: 1rem;
      color: var(--color-black);
      text-align: center;
    }

    > input {
      width: 100%;
      padding: 0.75rem 1rem;
      border: 0;
      outline: transparent;
      background-color: #f2f2f2;
      border-radius: 2rem;
      font-size: 1rem;
      box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.15);
    }

    .favoritesToggle {
      align-self: center;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0;

    .pokemonList {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      width: 100%;
    }

    .noResultsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;

      p:first-child {
        font-size: 1.2rem;
        color: var(--color-black);
      }

      p:last-child {
        font-size: 1rem;
        color: var(--color-black);
      }
    }
  }
}

@media (min-width: 768px) {
  .pokedex {
    width: 100%;
    padding: 0 1.5rem;

    header {
      gap: 1.5rem;

      > span {
        font-size: 1.25rem;
      }

      > input {
        padding: 1rem 1.5rem;
      }

      .favoritesToggle {
        align-self: flex-start;
      }
    }

    main {
      gap: 2rem;

      .pokemonList {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .pokedex {
    max-width: 1024px;

    header {
      > span {
        font-size: 1.5rem;
      }
    }

    main {
      .pokemonList {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
      }
    }
  }
}
