.pokedex {
  margin-top: 4.375rem;
  width: 62.5rem;

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.375rem;

    > span {
      font-size: 1.5rem;
      color: var(--color-black);
    }

    > input {
      width: 100%;
      padding: 1rem 2rem;
      border: 0;
      outline: transparent;
      background-color: #f2f2f2;
      border-radius: 2.5rem;
      font-size: 1rem;
      box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.15);
    }

    .favoritesToggle {
      align-self: flex-start;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;

    .pokemonList {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      margin-top: 4rem;
      width: 100%;
    }

    .noResultsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      margin-top: 4rem;

      p:first-child {
        font-size: 1.5rem;
        color: var(--color-black);
      }

      p:last-child {
        font-size: 1rem;
        color: var(--color-black);
      }
    }
  }
}
